* {
    margin: 0;
    padding: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    height: 100%;
}

li {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

    max-height: 100vh;

}

/* sidebar */
.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: #2cade9;

    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
}

.sidebar > * {
    color: white;
    margin-left: 50px;
    margin-bottom: 30px;

    font-size: 1.5rem;
}

/* branding */
.sidebar .branding {
    font-size: 2rem;
    margin-top: 30px;
}

.cat-logo {
    width: 30px;
}

/* navigations & settings*/
.sidebar > .navigations > ul > li,
.sidebar > .settings > ul > li {
    margin-bottom: 20px;
}


/* HEADER*/
.header {
    grid-column: 2;
    background-color: white;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.header .search-profile {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-top: 20px;
} 

.search-profile .search-bar {
    justify-self: center;
    margin-right: 100px;
}

.search-profile > form > input[type=text] {
    border-radius: 10px;
    border: none;
    width: 800px;
    height: 30px;
    background-color: #d1d5db;
}

.profile {
    justify-self: center;
    font-size: 20px;
    font-weight: bold;

    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-pic {
    width: 50px;
}

.greeting-options {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.greeting {
    font-size: 40px;
    font-weight: bold;
    margin-left: 60px;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
}

.new, .upload, .share {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #2cade9;
    color: white;
    font-size: 15px;
}

/* content */
.content {
    grid-column: 2;
    background-color: #d1d5db;
    height: 670px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects-section {
    grid-column: 1;
    grid-row: 1 / 3;
    margin: 30px;

}

.projects-title,
.announcements-title,
.cats-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

    gap: 25px;
}

.project {
    background-color: white;
    height: 200px;
    padding: 20px;
    border-left: #fcd34d 10px solid;
    border-radius: 10px;
}

p.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.announcements-section {
    grid-column: 2;
    margin: 30px;
}

.anncouncements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.anncouncement {
    background-color: white;
    height: 30px;
    padding: 30px;
    border-radius: 5px;
}

.cats-section {
    grid-column: 2;
    margin: 30px;
    margin-top: 0px;
}

.cats {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.cat {
    background-color: white;
    height: 5px;
    padding: 20px;
    border-radius: 5px;
}